BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Never
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
Standard: c++20
